<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Quiry</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />

    </environment>
    <script src="https://kit.fontawesome.com/7907aed3b1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <img id="q-image" class="" src="~/assets/purpleQletter.png" style="height:160px; width:160px" />
        <div class="row">
            <partial class="text-white" name="_LoginPartial" />
        </div>
        <div id="color-ribbon" class="row">
            <div class="container-fluid d-flex">
                <div id="row-for-brand-and-links" class="row">
                    <div id="brand-col" class="col">
                        <a id="brand-name" class="text-white" asp-controller="Home" asp-action="Index" asp-route-id="null">uiry</a>
                    </div>
                    <nav id="catagory-links" class="navbar navbar-expand-sm navbar-toggleable-sm mb-3">
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="1">Travel</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="2">Sports</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="3">Health</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="4">Pets</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="5">Entertainment</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="6">Food</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="7">Outdoors</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="8">Electronics</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="10">Business</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="9">Family & Relationships</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />*
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Quiry - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <style>

        .container{
            margin-left:7%;
            margin-right:7%;
        }
        body{
            font-family: 'Lato', sans-serif;
        }
        #row-for-brand-and-links {
            margin-left: 12.2%;
        }

        #catagory-links {
            height: 96px;
        }

        .nav-item .nav-link {
            color: white;
            font-size: 1.3em;
        }

        #q-image {
            float: left;
            position: absolute;
            left: 60px;
            top: 0px;
            z-index: 1000;
            padding: 5px;
        }

        #brand-col {
            padding-bottom: 40px;
            border-top-width: 30px;
            bottom: 31px;
        }

        #color-ribbon {
            /*margin-top: 40px;*/
            background-color: #00ff00;
            height: 85px;
        }

        #brand-name {
            /*height: 60px;*/
            /*padding-left: 3em;*/
            font-size: 5em;
        }

        header {
            margin-bottom: 1.5em;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
