
@{
    ViewData["Title"] = "Contact";
}

<div class="row">
    <p>
        Nice picture with words overlayed <br /> "CONTACT US" <br />
        "Fill out the form below to shoot us an email."<br />
        "Old-fashioned phone calls work too."<br />
        "111-111-1111"
    </p>
</div>

<div class="row">
    <p>
        FORM FOR CONTACTING<br />
        Ask for first and last name, email, phone (optional) (checkbox for contacting by phone rather than email)<br />
        first and last name must match what we have on file for the given email (so someone does not spam someones
        email that is not theirs).<br /> an area for them to explain why they are contacting us
    </p>
</div>


<style>
    .row {
        height: 300px;
        border: dashed black .2em;
        margin-bottom: .2em;
    }

    p {
        margin: auto;
        text-align: center;
    }
</style>